<section id="question">
  <div class="view-contain">
    <span class="page-views"><%= @question.impressions_count %> Views</span>
  </div>
  <div class="title">
    <h3>【質問】</h3>
    <p><%= markdown(@question.title).html_safe%></p>
  </div>
  <hr>
  <div class="detail">
    <h3>【詳細】</h3>
    <p><%= markdown(@question.detail).html_safe%></p>
  </div>
  <hr>
  <div class="solution">
    <% @solutions.each.with_index(1) do |solution,i| %>
      <h3><%= solution.present? ? "【回答 #{i}】" : ""%></h3>
      <p><%= markdown(solution.content).html_safe%></p>
      <div class="favorite-content">
        <% if solution.favorited_by?(current_user) %>
          <p><span>いいね！！を取消す</span><%= link_to solution.favorites.count, question_solution_favorite_path(@question, solution), method: :delete%></p>
        <% else %>
          <p><span>いいね！！</span><%= link_to solution.favorites.count, question_solution_favorite_path(@question, solution), method: :post%></p>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
</section>
<div class="container">
  <h1>回答投稿</h1>
  <%= form_with model:[@question,@solution], local: true do |form| %>
  <div class="form-group">
    <%= form.label :content, "【回答】"%>
  </div>
  <div class="form-group">
    <%= form.text_area :content, class:"form-control",id:"exampleFormControlTextarea1", rows:"5"%>
  </div>
  <%= form.submit "送信", class:"btn btn-primary btn-block"%>
  <% end %>
</div>