<% content_for :line do%>
  <div class="line fixed-top"%>
    <%= render "shared/header"%>
  </div>
<%end%>
<section id = "contents">
  <h2 class="text-success">LINE@</h2>
  <div class = "table-container">
    <table class="table table-striped">
      <thead class = "text-white bg-success">
        <tr>
          <th class="w-1" scope="col">No.</th>
          <th class="w-2" scope="col">ジャンル</th>
          <th class="w-5" scope="col">内容</th>
        </tr>
      </thead>
      <tbody>
        <% @lines.each.with_index(1) do |line,i| %>
        <tr>
          <td scope="row"><%= i %></td>
          <td><%= line.genre %></td>
          <td><%= link_to "#{line.title}" , line  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<%content_for :line do%>
  <div class="line fixed-bottom"%>
    <%= render "shared/footer"%>
  </div>
<%end%>
