<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to 'やんばるCODE', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rails
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Ruby/Rails教材", texts_path, class: "dropdown-item"%>
          <%= link_to "動画教材", root_path, class: "dropdown-item"%>
          <%= link_to "AWS講座", aws_texts_path, class: "dropdown-item"%>
          <%= link_to "ライブコーティング", movies_path(category: "Live"), class: "dropdown-item"%>
          <%= link_to "質問集", questions_path , class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "PHP講座", movies_path(category: "Php"), class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "対談", movies_path(category: "Talk"), class: "nav-link active"%>
      </li>
      <li class="nav-item">
        <%= link_to "情報発信", movies_path(category: "Marketing"), class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "動画編集講座", movies_path(category: "Movie"), class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "ライティング講座", movies_path(category: "Writing"), class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "マネタイズ講座", movies_path(category: "Money"), class: "nav-link  active"%>
      </li>
      <li class="nav-item">
        <%= link_to "LINE＠", lines_path , class: "nav-link  active"%>
      </li>
      <%if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-link  active"%>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link  active" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link  active" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link  active" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
